# Copyright (c) 2017 PIXIA Corp
swagger: '2.0'
info:
  title: Pixia Catalog API
  description: |
    REST API to register, retrieve and search spatiotemporal assets and groups
  version: "1.0"
host: api.pixia.com
schemes:
  - http
  - https
basePath: /catalog/api
produces:
  - application/json
paths:
  /group:
    get:
      summary: Retrieve a group
      description: |
        Retrieve a single group by id or name
      operationId: getGroupById
      parameters:
        - name: id
          in: query
          description: ID of the group (either id or name must be present)
          required: false
          type: string
        - name: name
          in: query
          description: name of the group (either name or id must be present)
          required: false
          type: string
      tags:
        - Group
      responses:
        200:
          description: Return the group
          schema:
            $ref: '#/definitions/GroupResponse'
        400:
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Server error, retriable
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      summary: Register/update a group.
      description: |
        Register a group. If group with the same name already exists, the group content
        will be updated with the new information.
      operationId: registerGroup
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          description: The object for the group (provider and name are only required fields)
          schema:
            "$ref": '#/definitions/Group'
      tags:
        - Group
      responses:
        200:
          description: Return the new created/updated group
          schema:
            $ref: '#/definitions/GroupResponse'
        400:
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Server error, retriable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /groups:
    get:
      summary: Search groups
      description: |
        Using spatiotemporal query to search groups in catalog database
      operationId: searchGroups
      parameters:
        - name: provider
          in: query
          description: Provider ID
          required: true
          type: string
        - name: query
          in: query
          description: Query in ECQL
          required: false
          type: string
        - name: boundingBox
          in: query
          description: |
            A shorthand query for bounding box in the form of "w-lon,s-lat,e-lon,n-lat".
          required: false
          type: string
        - name: time
          in: query
          description: |
            A shorthand query for time period in the form of "begin,end" or "time".
            The time must be in milliseconds from epoch
          required: false
          type: string
        - name: fields
          in: query
          description: A comma separated list of fields to return
          required: false
          type: string
        - name: start
          in: query
          description: Start number of the record for pagination (0-based)
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: Maximum number of records to return per page
          required: false
          type: integer
          format: int32
      tags:
        - Group
      responses:
        200:
          description: An array of groups
          schema:
            $ref: '#/definitions/PageableResults'
        400:
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Server error, retriable
          schema:
            $ref: '#/definitions/ErrorResponse'

  /feature/groups:
    get:
      summary: Search groups and return results as GeoJSON FeatureCollection
      description: |
        Same as /groups except the response format is GeoJSON FeatureCollection
      operationId: searchGroupsAsFeatures
      parameters:
        - name: provider
          in: query
          description: Provider ID
          required: true
          type: string
        - name: query
          in: query
          description: Query in ECQL
          required: false
          type: string
        - name: boundingBox
          in: query
          description: A shorthand query for bounding box in the form of "w-lon,s-lat,e-lon,n-lat".
          required: false
          type: string
        - name: time
          in: query
          description: |
            A shorthand query for time period in the form of "begin,end" or "time".
            The time must be in milliseconds from epoch
          required: false
          type: string
        - name: fields
          in: query
          description: A comma separated list of fields to return
          required: false
          type: string
        - name: start
          in: query
          description: Start number of the record for pagination (0-based).
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: Maximum number of records to return.
          required: false
          type: integer
          format: int32
      tags:
        - Group
      responses:
        200:
          description: GeoJSON FeatureCollection
          schema:
            $ref: '#/definitions/FeatureCollection'
        400:
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Server error, retriable
          schema:
            $ref: '#/definitions/ErrorResponse'

  /asset:
    get:
      summary: Retrieve an asset
      description: |
        Retrieve a single asset by id or name
      operationId: getAssetById
      parameters:
        - name: id
          in: query
          description: ID of the assert (either id or name must be present)
          required: false
          type: string
        - name: name
          in: query
          description: Name of the asset (either name or id must be present)
          required: false
          type: string
      tags:
        - Asset
      responses:
        200:
          description: Return the Asset
          schema:
            $ref: '#/definitions/AssetResponse'
        400:
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Server error, retriable
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      summary: Register or update an asset.
      description: |
        Register an asset in the database. If the asset with the same name
        already exists, the duplicate key error will be returned. If the id is provided,
        this is an update operation. The provided data is merged with data in database.
        If no parent group is provided, the asset will be registered under a special
        group called "unfiled"
      operationId: registerAsset
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          description: The object for the asset
          schema:
            "$ref": '#/definitions/Asset'
      tags:
        - Asset
      responses:
        200:
          description: Return the new created/updated Asset
          schema:
            $ref: '#/definitions/AssetResponse'
        400:
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Server error, retriable
          schema:
            $ref: '#/definitions/ErrorResponse'

  /assets:
    get:
      summary: Search assets
      description: |
        This call searches assets
      operationId: searchAssets
      parameters:
        - name: provider
          in: query
          description: Provider ID
          required: true
          type: string
        - name: query
          in: query
          description: Query in ECQL
          required: false
          type: string
        - name: boundingBox
          in: query
          description: |
            A shorthand query for bounding box in the form of "w-lon,s-lat,e-lon,n-lat".
          required: false
          type: string
        - name: time
          in: query
          description: |
            A shorthand query for time period in the form of "begin,end" or "time".
            The time must be in milliseconds from epoch
          required: false
          type: string
        - name: fields
          in: query
          description: A comma separated list of fields to return
          required: false
          type: string
        - name: start
          in: query
          description: Start number of the record for pagination (0-based).
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: Maximum number of records to return.
          required: false
          type: integer
          format: int32
      tags:
        - Asset
      responses:
        200:
          description: An array of assets
          schema:
            $ref: '#/definitions/PageableResults'
        400:
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Server error, retriable
          schema:
            $ref: '#/definitions/ErrorResponse'

  /feature/assets:
    get:
      summary: Search assets and return GeoJSON FeatureCollection
      description: |
        Same as /assets except that the response format is GeoJSON FeatureCollection
      operationId: searchAssetsAsFeatures
      parameters:
        - name: provider
          in: query
          description: Provider ID
          required: true
          type: string
        - name: query
          in: query
          description: Query in ECQL
          required: false
          type: string
        - name: boundingBox
          in: query
          description: A shorthand query for bounding box in the form of "w-lon,s-lat,e-lon,n-lat".
          required: false
          type: string
        - name: time
          in: query
          description: |
            A shorthand query for time period in the form of "begin,end" or "time".
            The time must be in milliseconds from epoch
          required: false
          type: string
        - name: fields
          in: query
          description: A comma separated list of fields to return
          required: false
          type: string
        - name: start
          in: query
          description: Start number of the record for pagination (0-based).
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: Maximum number of records to return.
          required: false
          type: integer
          format: int32
      tags:
        - Asset
      responses:
        200:
          description: GeoJSON FeatureCollection
          schema:
            $ref: '#/definitions/FeatureCollection'
        400:
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Server error, retriable
          schema:
            $ref: '#/definitions/ErrorResponse'

  /items:
    get:
      summary: Search for groups or assets.
      description: |
        Search both groups and assets and return items. Item is a virtual entitiy
        that can be either a group or asset. Mainly used for thematic map or timeline
      operationId: searchItems
      parameters:
        - name: provider
          in: query
          description: Provider ID
          required: true
          type: string
        - name: query
          in: query
          description: Query in ECQL
          required: false
          type: string
        - name: boundingBox
          in: query
          description: A shorthand query for bounding box in the form of "w-lon,s-lat,e-lon,n-lat".
          required: false
          type: string
        - name: time
          in: query
          description: |
            A shorthand query for time period in the form of "begin,end" or "time".
            The time must be in milliseconds from epoch
          required: false
          type: string
        - name: format
          in: query
          description: |
            Response format, "json" (default) or "geojson". If the format is "json",
            the call returns type defined here. For "geojson", the response is
            a FeatureCollection type in GeoJSON.
          required: false
          type: string
        - name: costLimit
          in: query
          description: !
            Total cost acceptable by the client. This overrides server configuration.
            The cost is measured in number of points in the geometry. For example,
            the cost for a bounding box is 5.
          required: false
          type: integer
          format: int32
      tags:
        - Item
      responses:
        200:
          description: |
            Return an array of items in PageableItems defined here or GeoJSON
            FeatureCollection depending on format.
          schema:
            $ref: '#/definitions/PageableItems'
        400:
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Server error, retriable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /timeline:
    get:
      summary: Return timeline entries for the search result
      description: |
        This call returns timeline entries based on the search result
        for the items.
      operationId: getTimeLine
      parameters:
        - name: provider
          in: query
          description: Provider ID
          required: true
          type: string
        - name: query
          in: query
          description: Query in ECQL
          required: false
          type: string
        - name: boundingBox
          in: query
          description: |
            A shorthand query for bounding box in the form of "w-lon,s-lat,e-lon,n-lat".
          required: false
          type: string
        - name: time
          in: query
          description: |
            A shorthand query for time period in the form of "begin,end" or "time".
            The time must be in milliseconds from epoch
          required: false
          type: string
      tags:
        - Item
      responses:
        200:
          description: Return an array of timeline entries
          schema:
            type: array
            items:
              $ref: '#/definitions/TimeLine'
        400:
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Server error, retriable
          schema:
            $ref: '#/definitions/ErrorResponse'

  /providers:
    get:
      summary: Get provider list
      description: |
        This call returns a list of provisioned providers
      operationId: getProviders
      parameters:
        - name: start
          in: query
          description: Start number of the record for pagination (0-based)
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: Maximum number of records to return per page
          required: false
          type: integer
          format: int32
      tags:
        - Provider
      responses:
        200:
          description: Return an array of providers
          schema:
            type: array
            items:
              $ref: '#/definitions/PageableProviders'
        400:
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Server error, retriable
          schema:
            $ref: '#/definitions/ErrorResponse'

definitions:

  Group:
    type: object
    required: ["name", "geometry", "period"]
    properties:
      provider:
        type: string
        description: Provider ID
      name:
        type: string
        description: An unique key to identify the group.
      geometry:
        $ref: '#/definitions/Geometry'
      period:
        $ref: '#/definitions/TimeRange'
      subject:
        type: string
        description: Description of the group.
      groupType:
        $ref: '#/definitions/ItemType'
      keywords:
        type: string
        description: a text-search field with tags/keywords
      types:
        type: array
        items:
          $ref: '#/definitions/AssetType'
        description: Set of all asset types for all assets under this group
      assetCount:
        type: integer
        format: int32
        description: Number of assets in this group

  Asset:
    type: object
    required: ["provider", "name", "geometry", "period", "url"]
    properties:
      provider:
        type: string
        description: Provider ID
      name:
        type: string
        description: An unique name to identity the asset.
      geometry:
        $ref: '#/definitions/Geometry'
      period:
        $ref: '#/definitions/TimeRange'
      url:
        type: string
        description: Location of the resource.
      group:
        type: string
        description: |
          Name of the parent group. If the group doesn't exist, an new group
          will be created.
      subject:
        type: string
        description: Description of the asset.
      keywords:
        type: array
        items:
          type: string
        description: a text-search field with tags/keywords.
      source:
        type: object
        description: Original metadata in its raw format, generally the fields here can't be indexed.
      types:
        type: array
        items:
          $ref: '#/definitions/AssetType'
        description: Set of all product types in this asset.
      channels:
        type: integer
        format: int32
        minimum: 0
        description: Number of channels.
      bands:
        type: object
        description: Description of each band.
      bitDepth:
        type: integer
        format: int32
        minimum: 0
        description: Max bit depth among all bands.
      cloudCover:
        type: integer
        format: int32
        minimum: 0
        maximum: 100
        description: Cloud coverage in percentage (0-100)
      classifications:
        type: array
        items:
          type: integer
          format: int32
        description: Set of classifications represented by integer

  GroupResponse:
    type: object
    required:
      - id
      - parentId
      - name
    properties:
      id:
        type: string
        description: ID of the group (generated by system)
      parentId:
        type: string
        description: ID of the parent group. If missing or empty, the parent is the root
      name:
        type: string
        description: Name of the group.
      groupExtent:
        type: object
        description: Footprint of all the assets under this group in GeoJSON
      groupPeriod:
        $ref: '#/definitions/TimeRange'
      assetCount:
        type: integer
        format: int32
        description: Number of asserts under this group
      totalCost:
        type: integer
        format: int32
        description: Total cost to display for all the children of this group.

  PageableResults:
    type: object
    required: ["count"]
    properties:
      count:
        type: integer
        format: int32
        description: |
          Number of records returned. 0 if not found or start parameter is
          beyond the total number of results.
      total:
        type: integer
        format: int32
        description: Total number of records in the result set.
      start:
        type: integer
        format: int32
        description: Start record number (0-based).
      results:
        type: array
        items:
          type: object
        description: |
          The object type is either GroupResponse or AsssetResponse
          depending on the API.

  AssetResponse:
    type: object
    required: ["id"]
    properties:
      id:
        type: string
        description: ID of the asset
      parents:
        type: array
        items:
          type: string
        description: List of IDs for parent groups
      name:
        type: string
        description: Name of the assert.
      geometry:
        type: object
        description: Geometry of the asset in GeoJSON
      period:
        $ref: '#/definitions/TimeRange'

  Item:
    type: object
    required: ["id"]
    properties:
      id:
        type: string
        description: ID of the item
      name:
        type: string
        description: Name of the item.
      itemType:
        $ref: '#/definitions/ItemType'
      geometry:
        $ref: '#/definitions/Geometry'
      period:
        $ref: '#/definitions/TimeRange'
      count:
        type: integer
        format: int32
        description: Number of assets under the item.
      types:
        type: array
        items:
          $ref: '#/definitions/AssetType'
        description: Set of all product types in this item.

  PageableItems:
    type: object
    required:
      - count
    properties:
      count:
        type: integer
        format: int32
        description: |
          Number of records returned. 0 if not found or start parameter is
          beyond the total number of results.
      total:
        type: integer
        format: int32
        description: Total number of records in the result set.
      start:
        type: integer
        format: int32
        description: Start record number (0-based).
      results:
        type: array
        items:
          $ref: '#/definitions/Item'


  Provider:
    type: object
    required: ["id", "name"]
    properties:
      id:
        type: string
        description: ID of the provider
      name:
        type: string
        description: Name of the provider

  PageableProviders:
    type: object
    required:
      - count
    properties:
      count:
        type: integer
        format: int32
        description: |
          Number of records returned. 0 if not found or start parameter is
          beyond the total number of results.
      total:
        type: integer
        format: int32
        description: Total number of records in the result set.
      start:
        type: integer
        format: int32
        description: Start record number (0-based).
      results:
        type: array
        items:
          $ref: '#/definitions/Provider'

  ErrorResponse:
    type: object
    properties:
      code:
        type: string
        description: An error code
        enum:
          - NOT_FOUND
          - LOCKING_ERROR
          - DB_ERROR
          - NOT_SUPPORTED
          - INDEX_ERROR
          - DUP_KEY
          - INVALID_REQ
          - MISSING_FIELDS
          - INVALID_VALUE
          - CONFIG_ERROR
          - ERROR
      message:
        type: string
        description: A localized message that can be displayed in UI
      fields:
        type: object
        description: A map for field specific errors so UI can highlight fields with errors

  AssetType:
    type: string
    enum:
      - image
      - lidar
      - opir
      - metadataShape

  ItemType:
    type: string
    enum:
      - asset
      - pgroup
      - vgroup

  TimeRange:
    type: object
    description: Time period with begin and end time
    properties:
      begin:
        type: integer
        format: int64
        description: Start time of the period (inclusive) in milliseconds since epoch
      end:
        type: integer
        format: int64
        description: The end time of the period (inclusive) in milliseconds since epoch

  TimeLine:
    type: object
    description: A entry in time-line view
    properties:
      date:
        type: string
        description: Date in string format "yyyy-MM-dd"
      count:
        type: integer
        format: int32
        description: Number of assets whose time matches this date.

# GeoJSON definitions

  Geometry:
    type: object
    description: GeoJSon geometry
    discriminator: type
    required:
      - type
    externalDocs:
      url: http://geojson.org/geojson-spec.html#geometry-objects
    properties:
      type:
        type: string
        enum:
        - Point
        - LineString
        - Polygon
        - MultiPoint
        - MultiLineString
        - MultiPolygon
        description: the geometry type

  Feature:
    type: object
    description: GeoJSON Feature
    required:
      - type
    properties:
      type:
        type: string
        enum:
          - Feature
      geometry:
        $ref: "#/definitions/Geometry"
      properties:
        type: object

  FeatureCollection:
    type: object
    description: GeoJSON FeatureCollection
    required:
      - type
    properties:
      type:
        type: string
        enum:
          - FeatureCollection
      features:
        type: array
        items:
          $ref: "#/definitions/Feature"
      properties:
        type: object
        properties:
          count:
            type: integer
            format: int32
            description: Number of features returned
          start:
            type: integer
            format: int32
            description: Start number of feature for pagination
          total:
            type: integer
            format: int32
            description: Total number of features matching query
