swagger: '2.0'
info:
  title: STAC API integrated with OGC Web Feature Service standard
  version: 0.4.5
  description: >-
    This is an example OpenAPI specification of a SpatioTemporal Asset Catalog
    API  that also implements the OGC Web Feature Service 3.0 specification
    (conformance  classes: "STAC", "Core", "GeoJSON", "HTML", "OpenAPI 3.0").
  contact:
    name: Cool Sat Corp
    email: info@cool-sat.com
    url: 'http://cool-sat.com/contact/'
  license:
    name: CC-BY 4.0 license
    url: 'https://creativecommons.org/licenses/by/4.0/'
schemes:
  - http
host: www.cool-sat.com
basePath: /
paths:
  /:
    get:
      summary: landing page of this API
      description: >-
        The landing page provides links to the API definition, the Conformance
        statements and the metadata about the feature data in this dataset.
      operationId: getLandingPage
      tags:
        - Capabilities
      produces:
        - application/json
      responses:
        '200':
          description: links to the API capabilities
          schema:
            $ref: '#/definitions/root'
  /api:
    get:
      summary: API definition
      description: >-
        The API definition is a formal OpenAPI3 compliant document in JSON form,
        describing the complete API implemented here.
      operationId: getAPI
      tags:
        - Capabilities
      produces:
        - application/json
      responses:
        '200':
          description: OpenAPI3 definition of this API
          schema:
            type: string
  /conformance:
    get:
      summary: information about standards that this API conforms to
      description: >-
        list all requirements classes specified in a standard (e.g., WFS 3.0
        Part 1: Core) that the server conforms to
      operationId: getRequirementsClasses
      tags:
        - Capabilities
      produces:
        - application/json
      responses:
        '200':
          description: the URIs of all requirements classes supported by the server
          schema:
            $ref: '#/definitions/req-classes'
        default:
          description: An error occured.
          schema:
            $ref: '#/definitions/exception'
  /collections:
    get:
      summary: describe the feature collections in the dataset
      operationId: describeCollections
      tags:
        - Capabilities
      produces:
        - application/json
      responses:
        '200':
          description: Metdata about the feature collections shared by this API.
          schema:
            $ref: '#/definitions/content'
        default:
          description: An error occured.
          schema:
            $ref: '#/definitions/exception'
  '/collections/{collectionId}':
    get:
      summary: 'describe the {collectionId} feature collection'
      operationId: describeCollection
      tags:
        - Capabilities
      parameters:
        - $ref: '#/parameters/collectionId'
      produces:
        - application/json
      responses:
        '200':
          description: 'Metadata about the {name} collection shared by this API.'
          schema:
            $ref: '#/definitions/collectionInfo'
        default:
          description: An error occured.
          schema:
            $ref: '#/definitions/exception'
  '/collections/{collectionId}/items':
    get:
      summary: 'retrieve features of feature collection {collectionId}'
      description: >-
        Every feature in a dataset belongs to a collection. A dataset may
        consist of multiple feature collections. A feature collection is often a
        collection of features of a similar type, based on a common schema.\

        Use content negotiation to request HTML or GeoJSON.
      operationId: getFeatures
      tags:
        - Features
      produces:
        - application/geo+json
      parameters:
        - $ref: '#/parameters/collectionId'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/bbox'
        - $ref: '#/parameters/time'
      responses:
        '200':
          description: >-
            Information about the feature collection plus the first features
            matching the selection parameters.
          schema:
            $ref: '#/definitions/featureCollectionGeoJSON'
        default:
          description: An error occured.
          schema:
            $ref: '#/definitions/exception'
    post:
      summary: add a feature to a collection
      description: Use this method to create a new feature in a specific collection.
      operationId: postFeature
      tags:
        - Extensions
      parameters:
        - $ref: '#/parameters/collectionId'
        - name: item
          in: body
          required: true
          schema:
            $ref: '#/definitions/itemCollection'
      produces:
        - application/json
      responses:
        '200':
          description: Status of the create request.
          schema:
            type: string
        default:
          description: An error occured.
          schema:
            $ref: '#/definitions/exception'
  '/collections/{collectionId}/items/{featureId}':
    get:
      summary: retrieve a feature; use content negotiation to request HTML or GeoJSON
      operationId: getFeature
      tags:
        - Features
      produces:
        - application/geo+json
        - text/html
      parameters:
        - $ref: '#/parameters/collectionId'
        - $ref: '#/parameters/featureId'
      responses:
        '200':
          description: A feature.
          schema:
            $ref: '#/definitions/featureGeoJSON'
        default:
          description: An error occured.
          schema:
            $ref: '#/definitions/exception'
    put:
      summary: update a feature by Id
      description: >-
        Use this method to update an existing feature. Requires the entire
        GeoJSON  description be submitted.
      operationId: putFeature
      tags:
        - Extensions
      parameters:
        - $ref: '#/parameters/collectionId'
        - $ref: '#/parameters/featureId'
        - name: item
          in: body
          required: true
          schema:
            $ref: '#/definitions/item'
      produces:
        - application/json
      responses:
        '200':
          description: Status of the update request.
          schema:
            type: string
        default:
          description: An error occured.
          schema:
            $ref: '#/definitions/exception'
    patch:
      summary: update a feature by Id
      description: >-
        Use this method to update an existing feature. Requires a GeoJSON 
        fragement (containing the fields to be updated) be submitted.
      operationId: patchFeature
      tags:
        - Extensions
      parameters:
        - $ref: '#/parameters/collectionId'
        - $ref: '#/parameters/featureId'
        - name: partialItem
          in: body
          required: true
          schema:
            $ref: '#/definitions/partialItem'
      produces:
        - application/json
      responses:
        '200':
          description: Status of the update request.
          schema:
            type: string
        default:
          description: An error occured.
          schema:
            $ref: '#/definitions/exception'
    delete:
      summary: delete a feature by Id
      description: Use this method to delete an existing feature.
      operationId: deleteFeature
      tags:
        - Extensions
      parameters:
        - $ref: '#/parameters/collectionId'
        - $ref: '#/parameters/featureId'
      produces:
        - application/json
      responses:
        '200':
          description: Status of the delete request.
          schema:
            type: string
        default:
          description: An error occured.
          schema:
            $ref: '#/definitions/exception'
  /search/stac:
    get:
      summary: >-
        retrieve items matching filters. Intended as a shorthand API for simple
        queries. This method is optional.
      operationId: getSearchSTAC
      tags:
        - STAC
      parameters:
        - $ref: '#/parameters/bbox'
        - $ref: '#/parameters/time'
        - $ref: '#/parameters/limit'
      produces:
        - application/geo+json
      responses:
        '200':
          description: A feature collection matching the search criteria.
          schema:
            $ref: '#/definitions/itemCollection'
        default:
          description: An error occured.
          schema:
            $ref: '#/definitions/exception'
    post:
      summary: >-
        retrieve items matching filters. Intended as the standard, full-featured
        query API. This method is mandatory.
      operationId: postSearchSTAC
      tags:
        - STAC
      parameters:
        - name: query
          in: body
          required: true
          schema:
            $ref: '#/definitions/searchBody'
      produces:
        - application/geo+json
      responses:
        '200':
          description: A feature collection matching the search criteria.
          schema:
            $ref: '#/definitions/itemCollection'
        default:
          description: An error occured.
          schema:
            $ref: '#/definitions/exception'
parameters:
  limit:
    name: limit
    in: query
    description: |
      The optional limit parameter limits the number of items that are
      presented in the response document.

      Only items are counted that are on the first level of the collection in
      the response document. Nested objects contained within the explicitly
      requested items shall not be counted.

      * Minimum = 1
      * Maximum = 10000
      * Default = 10
    required: false
    type: integer
    minimum: 1
    maximum: 10000
    default: 10
  bbox:
    name: bbox
    in: query
    description: |
      Only features that have a geometry that intersects the bounding box are
      selected. The bounding box is provided as four or six numbers,
      depending on whether the coordinate reference system includes a
      vertical axis (elevation or depth):

      * Lower left corner, coordinate axis 1
      * Lower left corner, coordinate axis 2  
      * Lower left corner, coordinate axis 3 (optional) 
      * Upper right corner, coordinate axis 1 
      * Upper right corner, coordinate axis 2 
      * Upper right corner, coordinate axis 3 (optional)

      The coordinate reference system of the values is WGS84
      longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84) unless
      a different coordinate reference system is specified in the parameter
      `bbox-crs`.

      For WGS84 longitude/latitude the values are in most cases the sequence
      of minimum longitude, minimum latitude, maximum longitude and maximum
      latitude. However, in cases where the box spans the antimeridian the
      first value (west-most box edge) is larger than the third value
      (east-most box edge).


      If a feature has multiple spatial geometry properties, it is the
      decision of the server whether only a single spatial geometry property
      is used to determine the extent or all relevant geometries.
    required: false
    type: array
    minItems: 4
    maxItems: 6
    items:
      type: number
    collectionFormat: csv
  time:
    name: time
    in: query
    description: |
      Either a date-time or a period string that adheres to RFC 3339. Examples:

      * A date-time: "2018-02-12T23:20:50Z"  
      * A period:
      "2018-02-12T00:00:00Z/2018-03-18T12:31:12Z" or
      "2018-02-12T00:00:00Z/P1M6DT12H31M12S"

      Only features that have a temporal property that intersects the value of
      `time` are selected.

      If a feature has multiple temporal properties, it is the decision of the
      server whether only a single temporal property is used to determine the
      extent or all relevant temporal properties.
    required: false
    type: string
  collectionId:
    name: collectionId
    in: path
    required: true
    description: Identifier (name) of a specific collection
    type: string
  featureId:
    name: featureId
    in: path
    description: Local identifier of a specific feature
    required: true
    type: string
definitions:
  exception:
    type: object
    required:
      - code
    properties:
      code:
        type: string
      description:
        type: string
  root:
    type: object
    required:
      - links
    properties:
      links:
        type: array
        items:
          $ref: '#/definitions/link'
        example:
          - href: 'http://data.example.org/'
            rel: self
            type: application/json
            title: this document
          - href: 'http://data.example.org/api'
            rel: service
            type: application/openapi+json;version=3.0
            title: the API definition
          - href: 'http://data.example.org/conformance'
            rel: conformance
            type: application/json
            title: WFS 3.0 conformance classes implemented by this server
          - href: 'http://data.example.org/collections'
            rel: data
            type: application/json
            title: Metadata about the feature collections
  req-classes:
    type: object
    required:
      - conformsTo
    properties:
      conformsTo:
        type: array
        items:
          type: string
        example:
          - 'http://www.opengis.net/spec/wfs-1/3.0/req/core'
          - 'http://www.opengis.net/spec/wfs-1/3.0/req/oas30'
          - 'http://www.opengis.net/spec/wfs-1/3.0/req/html'
          - 'http://www.opengis.net/spec/wfs-1/3.0/req/geojson'
  link:
    type: object
    required:
      - href
    properties:
      href:
        type: string
      rel:
        type: string
        example: prev
      type:
        type: string
        example: application/geo+json
      hreflang:
        type: string
        example: en
  content:
    type: object
    required:
      - links
      - collections
    properties:
      links:
        type: array
        items:
          $ref: '#/definitions/link'
        example:
          - href: 'http://data.example.org/collections.json'
            rel: self
            type: application/json
            title: this document
          - href: 'http://data.example.org/collections.html'
            rel: alternate
            type: text/html
            title: this document as HTML
          - href: 'http://schemas.example.org/1.0/foobar.xsd'
            rel: describedBy
            type: application/xml
            title: XML schema for Acme Corporation data
      collections:
        type: array
        items:
          $ref: '#/definitions/collectionInfo'
  collectionInfo:
    type: object
    required:
      - name
      - links
    properties:
      name:
        description: 'identifier of the collection used, for example, in URIs'
        type: string
        example: buildings
      title:
        description: human readable title of the collection
        type: string
        example: Buildings
      description:
        description: a description of the features in the collection
        type: string
        example: Buildings in the city of Bonn.
      links:
        type: array
        items:
          $ref: '#/definitions/link'
        example:
          - href: 'http://data.example.org/collections/buildings/items'
            rel: item
            type: application/geo+json
            title: Buildings
          - href: 'http://example.org/concepts/building.html'
            rel: describedBy
            type: text/html
            title: Feature catalogue for buildings
      extent:
        $ref: '#/definitions/extent'
      crs:
        description: >-
          The coordinate reference systems in which geometries may be retrieved.
          Coordinate reference systems are identified by a URI. The first
          coordinate reference system is the coordinate reference system that is
          used by default. This is always
          "http://www.opengis.net/def/crs/OGC/1.3/CRS84", i.e. WGS84
          longitude/latitude.
        type: array
        items:
          type: string
        default:
          - 'http://www.opengis.net/def/crs/OGC/1.3/CRS84'
  extent:
    type: object
    properties:
      crs:
        description: >-
          Coordinate reference system of the coordinates in the spatial extent
          (property `spatial`). In the Core, only WGS84 longitude/latitude is
          supported. Extensions may support additional coordinate reference
          systems.
        type: string
        enum:
          - 'http://www.opengis.net/def/crs/OGC/1.3/CRS84'
        default: 'http://www.opengis.net/def/crs/OGC/1.3/CRS84'
      spatial:
        description: >-
          West, north, east, south edges of the spatial extent. The minimum and
          maximum values apply to the coordinate reference system WGS84
          longitude/latitude that is supported in the Core. If, for example, a
          projected coordinate reference system is used, the minimum and maximum
          values need to be adjusted.
        type: array
        minItems: 4
        maxItems: 6
        items:
          type: number
        example:
          - -180
          - -90
          - 180
          - 90
      trs:
        description: >-
          Temporal reference system of the coordinates in the temporal extent
          (property `temporal`). In the Core, only the Gregorian calendar is
          supported. Extensions may support additional temporal reference
          systems.
        type: string
        enum:
          - 'http://www.opengis.net/def/uom/ISO-8601/0/Gregorian'
        default: 'http://www.opengis.net/def/uom/ISO-8601/0/Gregorian'
      temporal:
        description: Begin and end times of the temporal extent.
        type: array
        minItems: 2
        maxItems: 2
        items:
          type: string
          format: dateTime
        example:
          - '2011-11-11T12:22:11Z'
          - '2012-11-24T12:32:43Z'
  featureCollectionGeoJSON:
    type: object
    required:
      - features
    properties:
      features:
        type: array
        items:
          $ref: '#/definitions/featureGeoJSON'
  featureGeoJSON:
    type: object
    required:
      - type
      - geometry
      - properties
    properties:
      type:
        type: string
        enum:
          - Feature
      geometry:
        $ref: '#/definitions/geometryGeoJSON'
      properties:
        type: object
      id:
        type: string
  geometryGeoJSON:
    type: object
    required:
      - type
    properties:
      type:
        type: string
        enum:
          - Point
          - MultiPoint
          - LineString
          - MultiLineString
          - Polygon
          - MultiPolygon
          - GeometryCollection
  searchBody:
    description: The search criteria
    allOf:
      - $ref: '#/definitions/bboxFilter'
      - $ref: '#/definitions/timeFilter'
      - $ref: '#/definitions/intersectsFilter'
      - type: object
        properties:
          limit:
            type: number
            example: 5
  bboxFilter:
    type: object
    description: Only return items that intersect the provided bounding box.
    properties:
      bbox:
        $ref: '#/definitions/bbox'
  bbox:
    type: array
    minItems: 4
    maxItems: 6
    items:
      type: number
    description: |
      Only features that have a geometry that intersects the bounding box are
      selected. The bounding box is provided as four or six numbers,
      depending on whether the coordinate reference system includes a
      vertical axis (elevation or depth):

      * Lower left corner, coordinate axis 1
      * Lower left corner, coordinate axis 2  
      * Lower left corner, coordinate axis 3 (optional) 
      * Upper right corner, coordinate axis 1 
      * Upper right corner, coordinate axis 2 
      * Upper right corner, coordinate axis 3 (optional)

      The coordinate reference system of the values is WGS84
      longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84) unless
      a different coordinate reference system is specified in the parameter
      `bbox-crs`.

      For WGS84 longitude/latitude the values are in most cases the sequence
      of minimum longitude, minimum latitude, maximum longitude and maximum
      latitude. However, in cases where the box spans the antimeridian the
      first value (west-most box edge) is larger than the third value
      (east-most box edge).


      If a feature has multiple spatial geometry properties, it is the
      decision of the server whether only a single spatial geometry property
      is used to determine the extent or all relevant geometries.
    example:
      - -110
      - 39.5
      - -105
      - 40.5
  timeFilter:
    description: An object representing a time based filter.
    type: object
    properties:
      time:
        $ref: '#/definitions/time'
  time:
    type: string
    description: |
      Either a date-time or a period string that adheres to RFC 3339. Examples:

      * A date-time: "2018-02-12T23:20:50Z"  
      * A period:
      "2018-02-12T00:00:00Z/2018-03-18T12:31:12Z" or
      "2018-02-12T00:00:00Z/P1M6DT12H31M12S"

      Only features that have a temporal property that intersects the value of
      `time` are selected.

      If a feature has multiple temporal properties, it is the decision of the
      server whether only a single temporal property is used to determine the
      extent or all relevant temporal properties.
    example: '2018-02-12T00:00:00Z/2018-03-18T12:31:12Z'
  intersectsFilter:
    type: object
    description: Only returns items that intersect with the provided polygon.
    properties:
      intersects:
        $ref: '#/definitions/polygon'
  polygon:
    type: object
    properties:
      type:
        type: string
        enum:
          - polygon
      coordinates:
        $ref: '#/definitions/polygon2D'
    required:
      - type
      - coordinates
  polygon2D:
    type: array
    minItems: 1
    items:
      $ref: '#/definitions/linearRing2D'
  linearRing2D:
    type: array
    minItems: 4
    items:
      $ref: '#/definitions/point2D'
    example:
      - - -104
        - 35
      - - -103
        - 35
      - - -103
        - 34
      - - -104
        - 34
      - - -104
        - 35
  point2D:
    description: A 2d geojson point
    type: array
    minimum: 2
    maximum: 2
    items:
      type: number
      format: double
    example:
      - -104
      - 35
  itemCollection:
    type: object
    required:
      - features
      - type
    properties:
      type:
        type: string
        enum:
          - FeatureCollection
      features:
        type: array
        items:
          $ref: '#/definitions/item'
      links:
        $ref: '#/definitions/itemCollectionLinks'
  partialItem:
    type: object
    properties:
      id:
        type: string
        example: path/to/example.tif
        description: 'unique ID, potentially link to file'
      bbox:
        $ref: '#/definitions/bbox'
      geometry:
        type: object
        description: footprint of the item
      type:
        type: string
        description: The GeoJSON type
        enum:
          - Feature
      properties:
        $ref: '#/definitions/partialItemProperties'
      links:
        type: array
        items:
          $ref: '#/definitions/link'
      assets:
        type: object
        additionalProperties:
          type: object
          required:
            - href
          properties:
            href:
              type: string
            name:
              type: string
    example:
      assets:
        analytic:
          name: 1-Band Analytic
          href: >-
            http://cool-sat.com/catalog/collections/cs/items/CS3-20160503_132130_04/analytic-1.tif
  item:
    type: object
    required:
      - id
      - type
      - geometry
      - links
      - properties
      - assets
    properties:
      id:
        type: string
        example: path/to/example.tif
        description: 'unique ID, potentially link to file'
      bbox:
        $ref: '#/definitions/bbox'
      geometry:
        type: object
        description: footprint of the item
      type:
        type: string
        description: The GeoJSON type
        enum:
          - Feature
      properties:
        $ref: '#/definitions/itemProperties'
      links:
        type: array
        items:
          $ref: '#/definitions/link'
      assets:
        type: object
        additionalProperties:
          type: object
          required:
            - href
          properties:
            href:
              type: string
            name:
              type: string
    example:
      type: Feature
      id: CS3-20160503_132130_04
      bbox:
        - -122.59750209
        - 37.48803556
        - -122.2880486
        - 37.613537207
      geometry:
        type: Polygon
        coordinates:
          - - - -122.308150179
              - 37.488035566
            - - -122.597502109
              - 37.538869539
            - - -122.576687533
              - 37.613537207
            - - -122.2880486
              - 37.562818007
            - - -122.308150179
              - 37.488035566
      properties:
        datetime: '2016-05-03T13:21:30.040Z'
        provider: 'http://www.cool-sat.com'
        license: CC-BY-4.0
      links:
        - rel: self
          href: >-
            http://cool-sat.com/catalog/collections/cs/items/CS3-20160503_132130_04.json
      assets:
        analytic:
          name: 4-Band Analytic
          href: >-
            http://cool-sat.com/catalog/collections/cs/items/CS3-20160503_132130_04/analytic.tif
        thumbnail:
          name: thumbnail
          href: >-
            http://cool-sat.com/catalog/collections/cs/items/CS3-20160503_132130_04/thumb.png
  itemProperties:
    type: object
    required:
      - datetime
    description: provides the core metatdata fields plus extensions
    properties:
      datetime:
        $ref: '#/definitions/time'
      provider:
        type: string
        description: Information about the provider
      license:
        type: string
        description: Data license name based on SPDX License List
  partialItemProperties:
    type: object
    description: allows for partial collections of metadata fields
    properties:
      datetime:
        $ref: '#/definitions/time'
      provider:
        type: string
        description: Information about the provider
      license:
        type: string
        description: Data license name based on SPDX License List
  itemCollectionLinks:
    type: object
    properties:
      next:
        type: string
        format: url
        description: >-
          A URL to obtain the next paginated data set. If not present, the
          client should utilize the `nextPageToken`.
        example: >-
          http://api.cool-sat.com/query/gasd312fsaeg/ANsXtp9mrqN0yrKWhf-y2PUpHRLQb1GT-mtxNcXou8TwkXhi1Jbk
tags:
  - name: Capabilities
    description: >-
      Essential characteristics of this API including information about the
      data.
  - name: Features
    description: Access to data (features).
  - name: STAC
    description: Extension to WFS3 Core to support STAC metadata model and search API